%carousel-normal{
  .a-carousel-wrapper{
    padding: 0 0 15px;
    h3:empty{
      display: none;
    }
    .a-carousel-inner{
      padding: 0;
    }
  }
}
%full-width{
  float: left;
  width: 100%; 
}
.practiceType{
  .paracticetype-tab-wrapper{
     @extend %full-width;
    &.grey-bg-box{
      padding: 0;
    }
    .header-filter{
      padding: 30px 15px 10px;
    }
    @extend %carousel-normal;
    .a-carousel-wrapper{
      .a-carousel-inner{
        .rec-carousel{
          height: 460px !important;
        }
      }
    }
  }
  .poplar-coaching{
    @extend %full-width;
    padding-top:30px;
    @extend %carousel-normal;
    .header-filter{
      padding: 0 15px 10px;
    }    
  }
  .all-practice-sets{
    @extend %full-width;
    padding: 30px 0;
    .header-filter{
      margin-right: 25px;
      .left-content{
        p{
          color: $dark-grey;
        }
      }
      .filter-group{
        .filter-toggle{
          display: none;
        }
        .search{
          min-width: 250px;
        }
        
      }
    }
    .all-filter-wrapper{
      padding: 10px;
      background: $white;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      border: 1px solid $border-light;
      border-radius: 4px;
      margin-bottom: 10px;
      margin-right: 25px;
      .filter-title {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        display: none;
      }
      .close-mobile{
        display: none;
      }      
      .left{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .custom-dropdown{
          &:not(:last-child){
            margin-right: 10px;
          }
        }
        .rating{
          min-width: 260px;
          ul{
            .select-package{
              border-bottom: 1px solid $border-light;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              .custom-radio{
                label{
                  font-size: 12px;
                  font-weight: $medium;
                }
                &:not(:last-child){
                  margin-right: 20px;
                }
              }
            }
            li{
              label{
                font-size: 12px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                span{
                  font-weight: $medium;
                  i{
                    font-weight: $regular;
                    color: $dark-grey;
                  }
                }
              }
            }
          }
        }
      }
      .right{
        .group{
          .custom-dropdown{
            width: 155px;
          }
          display: flex;
          align-items: center;
          p{
            margin-right: 10px;
          }
        }
      }
      .action-group{
        padding-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
      }
    }
  }
  .all-practice-sets{
    .practicetype-flex{
      .a-carousel-item{
        > span.a-bggray{
          h4{
            padding-right: 26px;
          }
        } 
      }
    }
  }
}

@include responsive(ipad-port){
  .poplar-coaching{
    .a-carousel-inner {
      .rec-carousel{
        height: 320px !important;
      }
    }
  }
  .practiceType {
    .all-practice-sets {            
      .all-filter-wrapper {
        .left{
          padding-bottom: 15px;
          .rating{
            min-width: 230px;
          }
          width: 100%;
          > div{
            flex-grow: 1;
          }
        }
        .right{
          width: 100%;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}

@include responsive(phone){
  .practiceType {
    .paracticetype-tab-wrapper{
      .header-filter{
        .left-content{
          overflow: hidden;
          overflow-x: auto;
          -ms-overflow-style: none;
          scrollbar-width: none;
          &::-webkit-scrollbar {
            display: none;
          }
          ul{
            li{
              white-space: nowrap;
              padding: 5px 5px;
              font-size: 14px;              
              border-radius: 4px;
              margin-right: 14px !important;
              &.active{
                text-decoration: none;
              }
            }
          }
        }
      }
      .a-carousel-wrapper{
        .a-carousel-inner{
          .rec-carousel{
            height: 400px !important;
          }
        }
      }
    }
    .all-practice-sets {
      .header-filter{
        .filter-group{
          .filter-toggle{
            display: inline-flex;
            align-items: center;
            border: 1px solid $text-darkblue;
            color: $text-darkblue;
            padding: 8px 15px;
            border-radius: 4px;
            font-weight: 700;
            svg{
              width: 12px;
              height: 13px;
              margin-right: 7px;
            }
          }
          .search{
            min-width: auto;
            input{
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
      .all-filter-wrapper {
        position: fixed;
        display: block;
        overflow-y: auto;
        padding: 30px 20px;
        width: 80%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 9;
        margin-right: 0;
        -webit-transform: translateX(100%);
        transform: translateX(100%);
        transition: all 0.3s ease-in;
        &.open{
          -webkit-transform: translateX(0%);
          transform: translateX(0%);
        }
        .close-mobile{
          display: block;
        }
        .filter-title{
          display: block;
        }
        .action-group{
          display: flex;
        }       
        .left{
          padding-top: 40px;
          .custom-dropdown{
            margin: 0 0 25px !important;
          }  
        }
        .right{
          .group{
            width: 100%;
            justify-content: space-between;
            .custom-dropdown{
              flex-grow: 1;
            }
          }
        }      
      }
      .practicetype-flex{
        flex-wrap: wrap;
        overflow: inherit;
      }
    }
  }
}