.a-fixedHeader{ 
  position: fixed; 
  top: 0px; 
  left: 0px; 
  width: 100%; 
  z-index: 8; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14); 
}
.a-topbar{
  float: left;
  width: 100%;
  background-color: #f2f3f5;
  padding: 12px 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  .a-topinfo{
    float: left; 
    width: auto;
    .a-phone, 
    .a-email{
      float: left; 
      width: auto;
      span{
        float: left;
        width: 16px;
        margin-right: 10px;
        margin-top: 2px;
        img{
          float: left; 
          width: 20px;
          height: 20px;
        }
      }
      p{
        float: left;
        color: #323c4f;
        margin: 0px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        font-weight: 600;
      }
    }
    .a-phone{
      margin-right: 21px;
      padding-right: 21px;
      border-right: 1px solid #cbccce;
    }
  }
  .a-topnav{
    float: right;
    width: auto;
    padding-top: 3px;
    ul{ 
      float: left; 
      width: auto;
      li{
        float: left; width: auto;
        padding-right: 8px;
        margin-right: 8px;
        border-right: 1px solid #cbccce;
        span, 
        a{
          float: left; 
          width: auto;
          color: #727272;
          font-size: 12px;
          &.a-nav{
            color: #e76c49;
          }
        }
        &:last-child{
          margin-right: 0px;
          padding-right: 0px;
          border-right: 0px solid transparent;
        }
      }
    }
  }
}