// COLORS
$white: #FFFFFF;
$ultra-light-grey: #f5f5f5;
$light-grey:#efefef;
$light-grey1:#dddddd;
$light-grey2:#f2f3f5;
$light-grey3:#afb3b9;
$light-grey4:#cecece;
$topgray: #f2f3f5;
$topnav: #727272;

$dark-grey1:#888888;
$dark-grey:#707070;
$dark-grey2:#5f5f5f;

$border-light:#cbccce;
$border-dark:#3b3f46;

$black:#000000;
$black1:#181818;
$black2:#212121;
$black3:#4e4e4e;

$dark-blue:#252e3e;
$dark-blue1:#333e5f;
$dark-blue2:#505f8e;
$dark-blue3:#28314b;
$dark-blue4:#181d25;
$text-darkblue: #3a466b;


$light-blue:#069cdd;
$light-blue1:#ebf0fd;
$light-blue2:#f0f0f3;

$dark-orange:#FF7249;
$ultra-dark-orange:#ff6e51;
$orange:#e76c49;
$orange1:#fd8041;
$light-orange:#ef9d27;
$light-orange1: #fd9b7e;

$red:#e4556c;
$red1:#f00;

$light-green:#6fc379;
$dark-green:#21c179;
$purple:#9b59b6;

$gold:#c89c23;

// FONT WEIGHT
$regular: 400;
$medium: 600;
$bold: 700;
$exbold: 800;